<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>File Details</h1>
<p>Name: <%= file.name %></p>
<p>Size: <%= (file.size / 1024).toFixed(2) %> KB</p>
<p>Uploaded on: <%= new Date(file.created_at).toLocaleString() %></p>
<p><a href="<%= publicUrl %>" target="_blank">Download / View File</a></p>
<a href="/files/<%= file.folderId %>">Back to Folder</a>

</body>
</html>